<div class="wrapper">
    <header class="article__header">
        <h2 class="article__title">{{title}}</h2>
        <date class="article__meta">{{moment pubDate}}</date>
    </header>
    <div class="article__content">
        {{{content}}}
    </div>
    <footer class="article__footer">
        <button class="btn btn-white btn-large">Save for Offline</button>
    </footer>
</div>

