<ul>
    <li {{#if isLatest}}class="active"{{/if}}>
        <a href="latest.html">
            <i class="fa fa-plus"></i>
            <span>Latest</span>
        </a>
    </li>
    <li {{#if isHome}}class="active"{{/if}}>
        <a href="index.html">
            <i class="fa fa-home"></i>
            <span>Home</span>
        </a>
    </li>
    <li {{#if isSaved}}class="active"{{/if}}>
        <a href="saved.html">
            <i class="fa fa-bookmark"></i>
            <span>Bookmarks</span>
        </a>
    </li>
</ul>