

.excerpt {
  background: #fff;
  text-align: left;
  margin-bottom: 40px;
}

.excerpt__header,
.excerpt__content,
.excerpt__footer {
  padding: 15px 20px;
}

.excerpt__header {
  background: $theme;

}

.excerpt__meta {
  font-family: $sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
}

.excerpt__content {
  img {
    width: 100%;
  }
}


.excerpt__footer {
  padding-top: 0;
  display: flex;
  justify-content: space-between;
}