/* ************************

	Variable & Mixins

************************** */


$theme: #feda4c;
$bg-clr: rgb(245,245,245);

$text-clr: rgb(30,30,30);

$grey: #E6E6E6;

$dark-grey: #D7D7D7;



$drop-shadow-clr: rgba(167,156,142,0.52);
$box-shadow: 0px 2px 4px 0px #67AEE8;



@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,700,900,900italic,700italic,400italic);
$font: 'Source Sans Pro', sans-serif;

$serif: 'Lora';
$sans-serif: 'Proxima Nova';


$fabPosition: 30px;